.timer__progressbar {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}

.timer__progressbar__dot {
  border: 2px solid #cbc2de;
  background-color: #fff;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.timer__progressbar__dot--filled {
  background-color: #cbc2de;
}
