.timer {
  text-align: center;
  max-width: 80%;
}

.timer__logo {
  width: 80%;
}

.timer__clock {
  font-size: 4rem;
  margin: 0;
}

.timer__button {
  cursor: pointer;
  transition: filter 0.1s ease;
}

.timer__button:hover {
  /* opacity: 0.8; */
  -webkit-filter: drop-shadow(3px 3px 2px rgba(62, 70, 81, 0.6));
  filter: drop-shadow(3px 3px 2px rgba(62, 70, 81, 0.6));
}
