.timer {
  /* background-color: #eaecf2;
  border-radius: 10px;
  box-shadow: 10px 10px 26px -16px rgba(62, 70, 81, 1); */
  padding: 30px;
  text-align: center;
}

.timer__clock {
  font-family: "Space Mono", monospace;
  font-size: 4rem;
}
